body{
    margin: 0;
    font-family: 'Roman';
    font-size: 18px;
    height: 100vh;    
    background-position: relative;
    background: url("../images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    margin:0 auto;
    text-align: center;


    .outer{
        
        img.logo{
            width: 15%;
            display: block;
            margin-left:auto;
            margin-right:auto;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        
        .inner{
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;
            max-width: 1150px;
            justify-content: center;
            background-position: absolute;
            background-color: black;
            opacity: 0.8;

            // img.widget1{
            //     display:inline-block
                
            // }
            .container1{
                width: 125%;
                margin-top: auto;
                margin-left: 12.5%;
                white-space: nowrap;
                position: relative;
                padding-bottom: 5%;
                padding-top: 2%;
            }
            .container1 input#search {
                border-radius: 50px;
                width: 60%;
                height: 50px;
                background: #2b303b;
                border:none;
                font-size: 10pt;
                float: left;
                color: #63717f;
                padding-left: 45px;
            }

            .container1 .icon{
                position: absolute;
                top: 50%;
                margin-left: 17px;
                margin-top: 17px;
                z-index: 2;
                color:#1477d3
            }
            // .widget2{
            //     width: 100px;
            //     height: 100px;
            //     display:inline-block;
            // }
        /* Style the tab */
        .tab {
            width: 80%;
            margin-left: 20%;
            padding-bottom: 1%;
            overflow: hidden;
            color: white; 
            border: none;
            background-color: transparent;
        }
        
        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            color:white;
            font-size: 100%;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 2% 10%;
            transition: 0.3s;
        }
        
        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: rgb(67, 109, 226);
        }
        
        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #0000FF;
        }
        
        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }
        
        /* Go from zero to full opacity */
        @keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        .scope{
                max-height:440px;
               
                overflow-y: auto;
                
            .video{
                
                .thumbnail{
                    // margin-top: auto;
                    // margin-right:auto;
                    float: left;
                    width: 35%;
                    height: 35%;
                    padding-left: 10%;
                    
                }
                color: white;
                padding-bottom: 8%;

                .rank{
                    padding-left: 50%;
                    padding-right: 10%;
                    text-align: left;
                    font-size: 80%;
                    padding-bottom: 1%;

                }
                .Headline{
                    padding-left: 50%;
                    padding-right:10%;
                    font-size: 150%;
                    text-align: left;
                }

                .video_stats{
                    color: #818181;
                    padding-left: 50%;
                    // padding-right:%;
                    font-size: 80%;
                    text-align: left;
                    
                    .user, .views, .post{
                        width: 25%;
                        height: 20px;
                        margin-right: 10px;
                        float: left;
                        padding-bottom: 2%;

                        
                    }
                    .user button{
                        background-color: inherit;
                        color:#818181;
                        font-size: 100%;
                        float: left;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        // padding: 2% 10%;
                        transition: 0.3s;
                    }
                    
                }
                .Description{
                    color: #818181;
                    font-size: 80%;
                    text-align: left;
                    padding-left: 50%;
                    padding-right: 10%;
                    
                }
            }
        }

        }
        
    }

}